In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [11]:
df=pd.read_csv("Social_Network_Ads.csv")

In [12]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [13]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [14]:
sc=StandardScaler()
df['Gender']=LabelEncoder().fit_transform(df['Gender'])

In [15]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [16]:
x=df[['Age','EstimatedSalary']]
y=df[['Purchased']]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [18]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()
LR.fit(X_train,y_train)
y_predict=LR.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_predict)
print("Confusion matrix : ")
print(cm)
print("Accuracy score : ")
acc=accuracy_score(y_test,y_predict)*100
print(acc)

Confusion matrix :
[[71  5]
 [12 32]]
Accuracy score :
85.83333333333333

In [23]:
tp=cm[0][0]
tn=cm[1][1]
fn=cm[0][1]
fp=cm[1][0]
total=tp+tn+fp+fn

In [24]:
error_rate=(fp+fn)/total
error_rate

0.14166666666666666

In [25]:
from sklearn.metrics import classification_report
print("Confusion report:    ")
print(classification_report(y_test,y_predict))

Confusion report:
              precision    recall  f1-score   support

           0       0.86      0.93      0.89        76
           1       0.86      0.73      0.79        44

    accuracy                           0.86       120
   macro avg       0.86      0.83      0.84       120
weighted avg       0.86      0.86      0.86       120